<div class="jumbotron">
  <form class="lot-form">
    <div class="form-group">
      {{input value=tagline  placeholder="Enter the lot's tagline for the main carousel"}}
    </div>
    <div class="form-group">
      {{textarea value=description  placeholder="Enter a description of the lot's state of health and how much of a fight they put up"}}
    </div>
    <div class="form-group">
      {{input value=liveImage placeholder="Enter a link to a photo of the lot while alive"}}
    </div>
    <button {{action "addOrganForm"}} class="btn btn-success">Cut out a squishy thing?</button>
    <button {{action "save"}} class="btn btn-danger">Harvest this <strike>person</strike> lot</button>
  </form>

  <h3>Organs</h3>

  {{#each organs itemController="organ"}}
    {{input value=name placeholder="Name"}}
    <label for="price">Starting bid:</label>
    {{input value=price class="form-control"}}
    <label for="comment">Organ Quality</label>
    {{textarea value=comment class="form-control" rows="4"}}
  <p>
    {{name}}
    <button class="btn btn-xs btn-warning" {{action 'delete'}}>delete</button>
    <button class="btn btn-primary" {{action "saveOrgan"}}>Add your organ</button>
  </p>
  {{/each}}


  {{outlet}}

</div>
